<div class="col-12 msg-section" [ngStyle]="{'display': message.heading == true ? 'none' : 'block'}" [ngClass]="{
        'float-left incoming-msg-section': message.left == true,
        'float-right outgoing-msg-section': message.left == false
     }">
    <div [ngClass]="{
        'float-left incoming-msg': message.left == true,
        'float-right outgoing-msg': message.left == false
     }" [ngStyle]="{'display': message.heading == true ? 'none' : 'block'}">
        <p class="nomargin" [ngClass]="{'attachment-text': message.left === true}"> {{message.author}}: {{message.message}}</p>
    </div>
</div>
<div class="col-12 chatheadingContainer" [ngStyle]="{'display': message.heading == true ? 'flex' : 'none'}">
    <div class="chatheading">
        <p class="nomargin">{{message.message}}</p>
    </div>
</div>