<div class="col-12 msg-section" [ngStyle]="{'display': message.heading == true ? 'none' : 'block'}" [ngClass]="{
        'float-left incoming-msg-section': message.left == true,
        'float-right outgoing-msg-section': message.left == false
     }">
    <div [ngClass]="{
        'float-left incoming-msg': message.left == true,
        'float-right outgoing-msg': message.left == false
     }" [ngStyle]="{'display': message.heading == true ? 'none' : 'block'}">
        <span [ngStyle]="{'display': message.left == true ? 'block' : 'none'}" style="color: #e542a3;font-size: 15px;font-weight: 600;border-bottom: 1px dotted">{{message.author}} <span (click)="deleteMessage(message.messageNumber)"><i class="fa fa-times" style="color: white;cursor: pointer;"></i></span></span>
        <span [ngStyle]="{'display': message.left == false ? 'block' : 'none'}" style="color: #6bcbef;font-size: 15px;font-weight: 600;border-bottom: 1px dotted">{{message.author}} <span (click)="deleteMessage(message.messageNumber)"><i class="fa fa-times" style="color: white;cursor: pointer;"></i></span></span>

        <img class="nomargin" [ngClass]="{'attachment-text': message.left === true}" [ngStyle]="{'display': ((message.msgType == 'GIF') || (message.msgType == 'Image')) ? 'flex' : 'none'}"
            src="{{message.message}}" style="height: 60px;">
        <p class="nomargin" [ngClass]="{'attachment-text': message.left === true}" [ngStyle]="{'display': (message.msgType == 'Text') ? 'flex' : 'none'}">
            {{message.message}}</p>
        <iframe width="360" height="155" [src]="urlSafe" frameborder="0" allowfullscreen [ngStyle]="{'display': (message.msgType == 'Video') ? 'flex' : 'none'}"></iframe>

        <span (click)="editMessage(message.messageNumber,true)"><i class="fa fa-arrow-circle-up" style="color: white;cursor: pointer;"></i></span>&nbsp;&nbsp;
        <span (click)="editMessage(message.messageNumber,false)"><i class="fa fa-edit" style="color: white;cursor: pointer;"></i></span>
    </div>
</div>
<div class="col-12 chatheadingContainer" [ngStyle]="{'display': message.heading == true ? 'flex' : 'none'}">
    <div class="chatheading">
        <p class="nomargin">{{message.message}} &nbsp;&nbsp;
            <span (click)="editMessage(message.messageNumber,true)"><i class="fa fa-arrow-circle-up" style="color: white;cursor: pointer;"></i></span>&nbsp;&nbsp;
            <span (click)="editMessage(message.messageNumber,false)"><i class="fa fa-edit" style="color: black;cursor: pointer;"></i></span>&nbsp;&nbsp;
            <span (click)="deleteMessage(message.messageNumber)"><i class="fa fa-times" style="color: black;cursor: pointer;"></i></span>
        </p>
    </div>
</div>