<div #chatScroll class="jarvis-container clearfix" style="padding-bottom: 210px;">
  <!-- Messages Section -->
  <div class="chat-holder">
    <div class="chat-message-container">
      <div #container></div>
    </div>
  </div>
  <!-- Footer Section -->
  <div class="col-md-12 footer_css footer-container" style="height: 194px;">
    <div class="row">
      <div class="col-md-4 typing-area" style="margin-bottom:5px">
        <label>Author <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="authorLeft" class="typing-box">
        <label>Message <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="messageLeft" name="typing-box" (keyup.enter)="sendMessage(1)" class="typing-box" [autofocus]="messageLeft">
        <div class="col-12 float-right send-box" (click)="sendMessage(1)" style="margin-top: 3px">
          <span class="btn-send btn btn-success"><i class="fa fa-paper-plane"></i> Send</span>
        </div>
      </div>
      <div class="col-md-4 typing-area" style="margin-bottom:5px">
        <label>Heading - Message <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="messageHeading" name="typing-box" (keyup.enter)="sendMessage(2)" class="typing-box" [autofocus]="messageHeading">
        <div class="col-12 float-right send-box" (click)="sendMessage(2)" style="margin-top: 3px">
          <span class="btn-send btn btn-success"><i class="fa fa-paper-plane"></i> Send</span>
        </div>
        <div class="col-12 send-box" style="text-align: center;margin-top: 64px;">
          <span class="btn-send btn btn-primary" style="float:none;" (click)="open(content)"><i class="fa fa-save"></i> Submit</span>          &nbsp;
          <span class="btn-send btn btn-warning" style="float:none" (click)="open(contentEdit)"><i class="fa fa-pencil"></i> Re-Open</span>
        </div>
      </div>
      <div class="col-md-4 typing-area" style="margin-bottom:5px">
        <label>Author(Right) <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="authorRight" class="typing-box">
        <label>Message <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="messageRight" name="typing-box" (keyup.enter)="sendMessage(3)" class="typing-box" [autofocus]="messageRight">
        <div class="col-12 float-right send-box" (click)="sendMessage(3)" style="margin-top: 3px">
          <span class="btn-send btn btn-success"><i class="fa fa-paper-plane"></i> Send</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="color:#343a40">Book Submission</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <label style="color:#343a40">Book <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="bookName" name="typing-box" class="form-control" [autofocus]="bookName">
      </div>
      <div class="col-12">
        <label style="color:#343a40">Writer <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="bookWriter" name="typing-box" class="form-control" [autofocus]="bookWriter">
      </div>
      <div class="col-12">
        <div [innerHtml]="responseMessage" style="color:red;margin-top: 10px;text-align: center;"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-send btn btn-primary" (click)="saveBookDetails()">Save Book</button>
    <button type="button" class="btn-send btn btn-default" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>

<ng-template #contentEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="color:#343a40">Edit Book</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <label style="color:#343a40">Book Id<span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="bookId" name="typing-box" class="form-control" [autofocus]="bookId">
      </div>
      <div class="col-12">
        <div [innerHtml]="openResponseMessage" style="color:red;margin-top: 10px;text-align: center;"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-send btn btn-primary" (click)="getBookDetail()">Edit</button>
    <button type="button" class="btn-send btn btn-default" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>