.jarvis-container{
    padding-bottom:100px;
} 
.chat-holder{
    position:relative;
}

::-webkit-scrollbar {
    display: none!important;
}
.chat-section, .footer_css{
    position: fixed;
    bottom:0;
    right:0;
    padding: 15px 10px;
    background-color: #232322;
    border-top: 2px solid #181818;
    z-index:999999;
}
.chat-message-container{
    height: 100%;
    overflow:scroll;
}
.typing-area{
    height: 32px;
    font-size:13px;
}
.typing-box{
    width: 100%;
    height: 100%;
    background: transparent;
    color: #fff;
    padding: 0px 10px;
    border: 1px solid #4C4B4C;
    border-radius: 24px;
    outline: none;    
}
.icon{
    height: 24px;
    padding-top: 3px;
    color: #58A9DE;
}
.msg-section{
    padding:20px 15px 0px 15px;
}
.incoming-msg{
    max-width:88%;
    background-color:#3A3837;
    margin: 0px 8px;
    padding:8px 15px;
    border-radius:5px;
    color: #F1F1F1;
    font-size: 12px;
    font-weight: bold;
}
.outgoing-msg{
    max-width:86%;
    background-color: #C2E6DF;
    margin: 0px 8px;
    padding:8px 15px;
    border-radius:5px;
    color: #686968;
    font-size: 12px;
}
.user-welcome{
    padding:20px;
}
.welcome-text{
    padding: 12px;
    background-color: #3A3837;
    border-radius: 3px;
    color: #A8A9A9;
    font-size: 11px;
    font-weight: normal;
}
@media screen and (max-width: 500px){
    .chat-holder{
        height: 100%;
    }
    .chat-message-container{
        height: 100%;
    }
    .msg-section{
        padding:10px 15px 10px 15px;
    }
}