<div #chatScroll class="jarvis-container clearfix" [ngStyle]="{'padding-bottom': IsMobile == true ? '480px' : '210px'}">
  <!-- Messages Section -->
  <div class="chat-holder">
    <div style="padding: 6px;">
      <span style="font-size: 15px;font-weight: 700;float:left;color:black;position: fixed;left:10px !important;z-index: 9999;">Message Count : {{bookContent.length}}</span>
      <span style="font-size: 15px;font-weight: 700;float:right;color:black;position: fixed;right:10px !important;z-index: 9999;">Total Words Count : {{wordCount}}</span>
      </div>
    <div class="chat-message-container">
      <div #container></div>
    </div>
  </div>
  <!-- Footer Section -->
  <div class="col-md-12 footer_css footer-container" style="height: 160px;" *ngIf="!IsMobile">
    <div class="row">
      <div class="col-md-4 typing-area" style="margin-bottom:5px">
        <div class="row">
          <div class="col-md-4 typing-area" style="margin-bottom:5px">
            <label>Type <span style="color: red;font-size: 16px;">*</span></label>
            <select class="form-control typing-box" [(ngModel)]="msgTypeLeft" style="height: 32px;padding: 0px 0px 4px 6px;">
              <option value="Text" [selected]="msgTypeLeft == 'Text'">Text</option>
              <option value="Image" [selected]="msgTypeLeft == 'Image'">Image</option>
              <option value="GIF" [selected]="msgTypeLeft == 'GIF'">GIF</option>
              <option value="Video" [selected]="msgTypeLeft == 'Video'">Video</option>
            </select>
          </div>
          <div class="col-md-8 typing-area" style="margin-bottom:5px">
            <label>Name (left) <span style="color: red;font-size: 16px;">*</span></label>
            <input type="text" [(ngModel)]="authorLeft" class="typing-box">
          </div>
        </div>
        <div class="row" style="margin-top: 27px;">
          <div class="col-md-12 typing-area" style="margin-bottom:5px">
            <label>Message <span style="color: red;font-size: 16px;">*</span></label>
            <input type="text" [(ngModel)]="messageLeft" name="typing-box" (keyup.enter)="sendMessage(1)" class="typing-box" [autofocus]="messageLeft">
            <i (click)="toggledmessageLeft = !toggledmessageLeft" class="float-right send-box" [(emojiPickerIf)]="toggledmessageLeft" [emojiPickerDirection]="'top'" (emojiPickerSelect)="handleSelectionLeft($event)" style="color: black;font-style: normal;font-size: 21px;cursor: pointer;    margin-right: 76px !important; position: sticky;" >😄</i> 
            <div class="col-12 float-right send-box" (click)="sendMessage(1)" style="margin-top: 3px">
             <span class="btn-send btn btn-success"><i class="fa fa-paper-plane"></i> Send</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 typing-area" style="margin-bottom:5px">
        <label>Descriptor (after 2 hours, one day later etc) <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="messageHeading" name="typing-box" (keyup.enter)="sendMessage(2)" class="typing-box" [autofocus]="messageHeading">
        <i (click)="toggledmessageHeading = !toggledmessageHeading" class="float-right send-box" [(emojiPickerIf)]="toggledmessageHeading" [emojiPickerDirection]="'top'" (emojiPickerSelect)="handleSelectionHeading($event)" style="color: black;font-style: normal;font-size: 21px;cursor: pointer;    margin-right: 76px !important; position: sticky;" >😄</i> 
        <div class="col-12 float-right send-box" (click)="sendMessage(2)" style="margin-top: 3px">
          <span class="btn-send btn btn-success"><i class="fa fa-paper-plane"></i> Send</span>
        </div>
        <div class="col-12" style="text-align: center;margin-top: 24px;">
          <span class="btn-send btn btn-primary" style="float:none;" (click)="open(content)"><i class="fa fa-save"></i> Submit</span>          &nbsp;
          <span class="btn-send btn btn-warning" style="float:none" (click)="open(contentEdit)"><i class="fa fa-pencil"></i> Re-Open</span>
          <button type="button" class="btn-send btn btn-default" style="margin-left:10px;float:none" (click)="openModal()"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="col-md-4 typing-area" style="margin-bottom:5px">
        <div class="row">
          <div class="col-md-4 typing-area" style="margin-bottom:5px">
            <label>Type <span style="color: red;font-size: 16px;">*</span></label>
            <select class="form-control typing-box" [(ngModel)]="msgTypeRight" style="height: 32px;padding :0px 0px 4px 6px;">
              <option value="Text" [selected]="msgTypeRight == 'Text'">Text</option>
              <option value="Image" [selected]="msgTypeRight == 'Image'">Image</option>
              <option value="GIF" [selected]="msgTypeRight == 'GIF'">GIF</option>
              <option value="Video" [selected]="msgTypeRight == 'Video'">Video</option>
            </select>
          </div>
          <div class="col-md-8 typing-area" style="margin-bottom:5px">
            <label>Name (right) <span style="color: red;font-size: 16px;">*</span></label>
            <input type="text" [(ngModel)]="authorRight" class="typing-box">
          </div>
        </div>
        <div class="row" style="margin-top: 27px;">
          <div class="col-md-12 typing-area" style="margin-bottom:5px">
            <label>Message <span style="color: red;font-size: 16px;">*</span></label>
            <input type="text" [(ngModel)]="messageRight" name="typing-box" (keyup.enter)="sendMessage(3)" class="typing-box" [autofocus]="messageRight">
            <i (click)="toggledmessageRight = !toggledmessageRight" class="float-right send-box" [(emojiPickerIf)]="toggledmessageRight" [emojiPickerDirection]="'top'" (emojiPickerSelect)="handleSelectionRight($event)" style="color: black;font-style: normal;font-size: 21px;cursor: pointer;    margin-right: 76px !important; position: sticky;" >😄</i> 
            <div class="col-12 float-right send-box" (click)="sendMessage(3)" style="margin-top: 3px">
              <span class="btn-send btn btn-success"><i class="fa fa-paper-plane"></i> Send</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 footer_css footer-container" style="height: 470px;padding:0px 10px 0px 10px" *ngIf="IsMobile">
    <div class="row" style="height: 180px;">
      <div class="col-md-12 typing-area">
        <label>Type <span style="color: red;font-size: 16px;">*</span></label>
        <select class="form-control typing-box" [(ngModel)]="msgTypeLeft" style="height: 32px;padding: 0px 0px 4px 6px;">
              <option value="Text" [selected]="msgTypeLeft == 'Text'">Text</option>
              <option value="Image" [selected]="msgTypeLeft == 'Image'">Image</option>
              <option value="GIF" [selected]="msgTypeLeft == 'GIF'">GIF</option>
              <option value="Video" [selected]="msgTypeLeft == 'Video'">Video</option>
            </select>
        <label>Name (left) <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="authorLeft" class="typing-box">
        <label>Message <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="messageLeft" name="typing-box" (keyup.enter)="sendMessage(1)" class="typing-box" [autofocus]="messageLeft">
        <div class="col-12 float-right send-box" (click)="sendMessage(1)" style="margin-top: 3px">
          <i (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'" (emojiPickerSelect)="handleSelection($event)">😄</i> 
          <span class="btn-send btn btn-success"><i class="fa fa-paper-plane"></i> Send</span>
        </div>
      </div>
    </div>
    <div class="row" style="height: 60px;">
      <div class="col-md-12 typing-area">
        <label>Descriptor (after 2 hours, one day later etc) <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="messageHeading" name="typing-box" (keyup.enter)="sendMessage(2)" class="typing-box" [autofocus]="messageHeading">
        <div class="col-12 float-right send-box" (click)="sendMessage(2)" style="margin-top: 3px">
          <i (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'" (emojiPickerSelect)="handleSelection($event)">😄</i> 
          <span class="btn-send btn btn-success"><i class="fa fa-paper-plane"></i> Send</span>
        </div>
      </div>
    </div>
    <div class="row" style="height: 180px;">
      <div class="col-md-12 typing-area">
        <label>Type <span style="color: red;font-size: 16px;">*</span></label>
        <select class="form-control typing-box" [(ngModel)]="msgTypeRight" style="height: 32px;padding :0px 0px 4px 6px;">
              <option value="Text" [selected]="msgTypeRight == 'Text'">Text</option>
              <option value="Image" [selected]="msgTypeRight == 'Image'">Image</option>
              <option value="GIF" [selected]="msgTypeRight == 'GIF'">GIF</option>
              <option value="Video" [selected]="msgTypeRight == 'Video'">Video</option>
        </select>
        <label>Name (right) <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="authorRight" class="typing-box">
        <label>Message <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="messageRight" name="typing-box" (keyup.enter)="sendMessage(3)" class="typing-box" [autofocus]="messageRight">
        <div class="col-12 float-right send-box" (click)="sendMessage(3)" style="margin-top: 3px">
          <i (click)="toggled = !toggled" [(emojiPickerIf)]="toggled" [emojiPickerDirection]="'bottom' || 'top' || 'left' || 'right'" (emojiPickerSelect)="handleSelection($event)">😄</i> 
          <span class="btn-send btn btn-success"><i class="fa fa-paper-plane"></i> Send</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="text-align: center;margin-top: 5px;">
        <span class="btn-send btn btn-primary" style="float:none;" (click)="open(content)"><i class="fa fa-save"></i> Submit</span>        &nbsp;
        <span class="btn-send btn btn-warning" style="float:none" (click)="open(contentEdit)"><i class="fa fa-pencil"></i> Re-Open</span>
        <button type="button" class="btn-send btn btn-default" style="margin-left:10px;float:none" (click)="openModal()"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="color:#343a40">CHAT STORY SUBMISSION</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <label style="color:#343a40">Chat Story Name <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="bookName" name="typing-box" class="form-control" [autofocus]="bookName">
      </div>
      <div class="col-12">
        <label style="color:#343a40">Writer <span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="bookWriter" name="typing-box" class="form-control" [autofocus]="bookWriter">
      </div>
      <div class="col-12">
        <div [innerHtml]="responseMessage" style="color:red;margin-top: 10px;text-align: center;"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-send btn btn-primary" (click)="saveBookDetails()">Save Chat Story</button>
    <button type="button" class="btn-send btn btn-default" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>

<ng-template #contentEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="color:#343a40">Edit Chat Story</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <label style="color:#343a40">Chat Story Id<span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="bookId" name="typing-box" class="form-control" [autofocus]="bookId">
      </div>
      <div class="col-12">
        <div [innerHtml]="openResponseMessage" style="color:red;margin-top: 10px;text-align: center;"></div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-send btn btn-primary" (click)="getBookDetail()">Edit</button>
    <button type="button" class="btn-send btn btn-default" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>

<ng-template #contentMessageEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" style="color:#343a40">Edit Chat Story</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <label style="color:#343a40">Author<span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="editAuthor" name="typing-box" class="form-control" [autofocus]="editAuthor">
      </div>
      <div class="col-12">
        <label style="color:#343a40">Message<span style="color: red;font-size: 16px;">*</span></label>
        <input type="text" [(ngModel)]="editMessage" name="typing-box" class="form-control" [autofocus]="editMessage">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-send btn btn-primary" (click)="updateMessage()">Update</button>
    <button type="button" class="btn-send btn btn-default" (click)="d('Cross click')">Close</button>
  </div>
</ng-template>

<div id="backdrop" style="position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 999999; background: rgba(0,0,0,0.7);"
  [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}" style="z-index:999999">
  <div class="modal-dialog modal-lg" role="document" style="color:black">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Instructions</h4>
      </div>
      <div class="modal-body" style="max-height: 400px;overflow: auto;">
        <h5>Please note the following before you submit an infochat with bookbhook</h5>
        <ol type="1">
          <li>Before you begin writing, please read a few infochat on <a href="https://infochat.bookbhook.com" target="_blank">https://infochat.bookbhook.com</a>.</li>
          <li>You can add any names of your choice in the NAME(right) and NAME(left) fields.</li>
          <li>If your chat story is being narrated by in first person, please use NAME (right) as 'Me'.</li>
          <li>You can add emojis in the chat story. You can add gif of your choice by selecting gif from the tab, and adding any popular gif url from sites like <a href="https://giphy.com" target="_blank">giphy.com</a>.</li>
          <li>If your chat story requires messages with image, please type the dialogue 'INSERT IMAGE HERE' and submit the dialogue. Editors at bookbhook will reach out to you to decide the image.</li>
          <li>Do NOT use any double quotation marks in your infochat. If you need to use quotation marks, use single quote ' to open and close the quote.</li>
          <li>You can edit dialogues by clicking on the edit icon of the dialogue you want to edit</li>
          <li>Once you submit a story, you will be given a BOOKID. Please mail this BOOKID as subject heading to <a href="mailto:response@bookbhook.com">response@bookbhook.com</a>.</li>
          <li>To save an infochat midway, please submit and note the BOOKID. You can reopen the infochat later by reopening with the BOOKID.</li>
          <li>The responsibility of the content lies with the writer. bookbhook is not in a position to verify source of the chat story.</li>
          <li>By submitting a chat story, you are agreeing to the terms listed on <a href="https://bookbhook.com/terms-and-conditions/"
              target="_blank">https://bookbhook.com/terms-and-conditions/</a>.</li>
          <li>Marcus Aurelius Learning Solutions Pvt Ltd reserves the right to refuse any story without any explanation.</li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="onCloseHandled()">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal !-->

<div id="backdrop" style="position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 999999; background: rgba(0,0,0,0.7);"
  [ngStyle]="{'display':editDisplay}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':editDisplay}" style="z-index:999999">
  <div class="modal-dialog modal-lg" role="document" style="color:black">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{modalHeader}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <label>Type <span style="color: red;font-size: 16px;">*</span></label>
            <select class="form-control" [(ngModel)]="msgTypeEdit">
              <option value="Text" [selected]="msgTypeEdit == 'Text'">Text</option>
              <option value="Image" [selected]="msgTypeEdit == 'Image'">Image</option>
              <option value="GIF" [selected]="msgTypeEdit == 'GIF'">GIF</option>
              <option value="Video" [selected]="msgTypeEdit == 'Video'">Video</option>
            </select>
          </div>
          <div class="col-12">
            <label style="color:#343a40">Heading<span style="color: red;font-size: 16px;">*</span></label>
            <select class="form-control" [(ngModel)]="editheading" (change)="changeMessage()">
              <option value="true" [selected]="editheading == true">Yes</option>
              <option value="false" [selected]="editheading == false">No</option>
            </select>
          </div>
          <div class="col-12" [hidden]="isHeading">
            <label style="color:#343a40">Message Direction<span style="color: red;font-size: 16px;">*</span></label>
            <select class="form-control" [(ngModel)]="editleft" (change)="changeDirection()">
              <option value="true">Left</option>
              <option value="false">Right</option>
            </select>
          </div>
          <div class="col-12" [hidden]="isHeading">
            <label style="color:#343a40">Author<span style="color: red;font-size: 16px;">*</span></label>
            <input type="text" [(ngModel)]="editAuthor" name="typing-box" class="form-control" [autofocus]="editAuthor">
          </div>
          <div class="col-12">
            <label style="color:#343a40">Message<span style="color: red;font-size: 16px;">*</span></label>
            <input type="text" [(ngModel)]="editTextMessage" name="typing-box" class="form-control" [autofocus]="editMessage">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-send btn btn-primary" (click)="updateMessage(messageId)">{{btnText}}</button>
        <button type="button" class="btn-send btn btn-default" (click)="onCloseHandledEdit()">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal !-->